doctype html
head
	title CrewLink Server
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='CrewLink Server')
	meta(property='og:description' content='Voice server for Among Us proximity chat')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	link(rel='stylesheet', href='/public/styles.css')


img(src="https://github.com/OhMyGuus/CrewLink/raw/master/logo.png")
h1 Anne's Birthday Party Server! 🥳
#crewinfo

	p This is a BetterCrewlink Server running on: 
	br
	b #{address}
	p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}.
	<hr>
	p
		a(href="https://github.com/OhMyGuus/CrewLink/releases", target="_blank")
			| To Download BetterCrewlink for PC and View Setup Instructions, 
			| <b>click here</b>
	<hr>
	p
		a(href="https://github.com/OhMyGuus/CrewLink/releases", target="_blank")
			| To Download BetterCrewlink for Android and View Setup Instructions, 
			| <b>click here</b>
	<hr>
	p
		a(href="https://github.com/OhMyGuus/CrewLink/releases", target="_blank")
			| To use BetterCrewlink on browser — required for iOS — and View Setup Instructions, 
			| <b>click here</b>
	<hr>
	p "Some Quote about something or something"
	br
	a(href="../public/html/card.html", target="_blank")
			| <b>Click Here to Sign Anne's Birthday Card!</b>
	 
		
#background-container
	#stars
	#stars2
	#stars3