doctype html
head
	title Happy Birthday, Anne!
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='CrewLink Server')
	meta(property='og:description' content='Voice Server for Anne&#39;s Among Us Proximity Chat Party!')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	link(rel='stylesheet', href='/public/styles.css')


img(src="https://github.com/OhMyGuus/CrewLink/raw/master/logo.png")
h1 Anne's Birthday Party Server! 🥳
h2 PC and Mobile Players Can Finally Unite!
#crewinfo

	p Anne's BetterCrewlink Server is Running On:
	b #{address}
	br
	p Use this as your custom server option 😉
	p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}
	<hr>
	p
		a(href="../public/html/pc.html")
			| To Download BetterCrewlink for PC and View Setup Instructions, 
			| <b>click here</b>
	<hr>
	p
		a(href="../public/html/android.html")
			| To Download BetterCrewlink for Android and View Setup Instructions, 
			| <b>click here</b>
	<hr>
	p
		a(href="../public/html/ios.html")
			| To use BetterCrewlink on browser — required for iOS — and View Setup Instructions, 
			| <b>click here</b>
	<hr>
	p "I Just Love Killing"
	a(href="../public/html/makeCard.html", target="_blank")
			| <b>Click Here to Sign Anne's Birthday Card!</b>
	br
	br
	a(href="../public/html/card.html", target="_blank")
			| <b>Click Here to View Anne's Birthday Card!</b>
	 
		
#background-container
	#stars
	#stars2
	#stars3